body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* NAVBAR (from W3Schools) */
.topnav {
  overflow: hidden;
  background-color: #222;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffcc00;
  color: black;
}

.topnav a.active {
  background-color: #ff9900;
  color: white;
}

/* HERO */
.hero {
  background-image: url('generator-hero.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000;
  font-size: 2rem;
}

/* Cards */
.cards {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background: white;
  width: 30%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
img{
  border-radius: 5%;
  border-color: black;
}